#if(($isButtonset=="true") || $primary || $secondary)	new biz.button({#set ($i = 0)#if($id)#if($i==1),#end 		id:"#$id"#set($i=1)#end#if($isButtonset=="true")#if($i==1),#end 		isButtonset:$isButtonset#set($i=1)#end#if($primary || $secondary)#if($i==1),#end 		icons: {#if($primary)              primary: "$primary"#if($secondary),#end#end#if($secondary)              secondary: "$secondary"#end              		}#set($i=1)#end#if($text)#if($i==1),#end 		text: $text#set($i=1)#end#if($label)#if($i==1),#end 		label: "$label"#set($i=1)#end	});#end