package ${javaInfo.getPackageName()};

import com.chinasofti.ro.bizframework.core.orm.entity.SqlModel;

#foreach( $type in ${javaInfo.getImportTypes()})
import $type;
#end

/**
 * <p>SqlModel</p>
 * 
 * @author BizFoundation
 * @version 1.0
 * @since 1.0
 */
public class ${javaInfo.getClassFirstUpperName()} extends SqlModel {
	  
	#set($count=0)#foreach( $fieldName in $javaInfo.getFields_commn() )
private $javaInfo.getField_types().get($count) $fieldName; 
	#set($count=$count+1)#end
	
	// QueryOnlyFields
	#set($count1=0)#foreach( $fieldName in $javaInfo.getQueryExtFieldNames() )
private $javaInfo.getQueryExtFieldTypes().get($count1) $fieldName; 
	#set($count1=$count1+1)#end
	
    public  ${javaInfo.getClassFirstUpperName()}() {

    }
	
#set($index=0)#foreach( $fieldName in $javaInfo.getFields_commn()  )
    public $javaInfo.getField_types().get($index) ${javaInfo.getFieldGetMethod($fieldName)}() {
        return this.$fieldName;
    }
    
    public void ${javaInfo.getFieldSetMethod($fieldName)}($javaInfo.getField_types().get($index) $javaInfo.getFields_commn().get($index)) {
		this.$fieldName = $fieldName;
    }
    
#set($index=$index+1)#end

	// QueryOnlyProperty accessors
#set($index1=0)#foreach( $fieldName in $javaInfo.getQueryExtFieldNames() )
	public $javaInfo.getQueryExtFieldTypes().get($index1) ${javaInfo.getFieldGetMethod($fieldName)}() {
        return this.$fieldName;
    }
    
    public void ${javaInfo.getFieldSetMethod($fieldName)}($javaInfo.getQueryExtFieldTypes().get($index1) $javaInfo.getQueryExtFieldNames().get($index1)) {
		this.$fieldName = $fieldName;
    }
    
#set($index1=$index1+1)#end
}