<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyou.justoask.mainask.dao.mybatis.ProblemDao">
  <!--查询一条记录-->
  <select id="findById" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM JA_PROBLEM WHERE PROBLEM_ID=#{problemId}</select>
  <!--分页查询-->
  <select id="searchByPage" parameterType="map" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM JA_PROBLEM
    <where/>
  </select>
  <!--插入记录-->
  <insert id="save" parameterType="Problem">INSERT INTO JA_PROBLEM (<include refid="columns"/>) VALUES (#{problemId},#{problemDesc},#{answer})</insert>
  <!--结果映射-->
  <resultMap type="Problem" id="ProblemMap">
    <id column="PROBLEM_ID" property="problemId"/>
    <result column="PROBLEM_DESC" property="problemDesc"/>
    <result column="ANSWER" property="answer"/>
  </resultMap>
  <!--查询字段-->
  <sql id="columns">PROBLEM_ID,PROBLEM_DESC,ANSWER</sql>
</mapper>
