	new biz.number({#set ($i = 0)#if($id)#if($i==1),#end 		id:"#$id"#set($i=1)#end#if($minNum)#if($i==1),#end 		minNum:$minNum#set($i=1)#end#if($maxNum)#if($i==1),#end 		maxNum:$maxNum#set($i=1)#end#if($fix && $fix!="false")#if($i==1),#end 		fix:$fix#set($i=1)#end#if($precision)#if($i==1),#end 		precision:$precision#set($i=1)#end#if($required == "true")#if($i==1),#end		validation:{			required: true 		}#set($i=1)#end	});