<!--${PO_FIRST_LOWER_NAME}-CONTROLLER-START-->
    <controller name="${PACKAGE_NAME}.${CLASS_FIRST_UPPER_NAME}">
#if(${GEN_LIST_VIEW})
		<method name="list" uri="/${PO_FIRST_LOWER_NAME}">
			<result name="success">${VIEW_LIST_URI}.jsp</result>
		</method>
		<method name="list${PO_FIRST_UPPER_NAME}" uri="/${PO_FIRST_LOWER_NAME}/list${PO_FIRST_UPPER_NAME}"/>
#end
#if(${GEN_SHOW_VIEW})
		<method name="show" uri="/${PO_FIRST_LOWER_NAME}/show" >
			<result name="success">${VIEW_SHOW_URI}.jsp</result>
		</method>
#end
#if(${GEN_ADD_VIEW})
		<method name="save" uri="/${PO_FIRST_LOWER_NAME}/save"/>
#end
#if(${GEN_EDIT_VIEW})
		<method name="edit" uri="/${PO_FIRST_LOWER_NAME}/edit/{id}"/>
		<method name="update" uri="/${PO_FIRST_LOWER_NAME}/update"/>
#end
#if(${GEN_LIST_VIEW})
		<method name="delete" uri="/${PO_FIRST_LOWER_NAME}/delete/{ids}" />
#end
#if(${EXPORT_EXCEL})
		<method name="exportExcel" uri="/${PO_FIRST_LOWER_NAME}/exportExcel" />
#end
	</controller>
    <!--${PO_FIRST_LOWER_NAME}-CONTROLLER-END-->