#if($isResize || $isBreak || $inputWidth || $commonClass || $labelSize || $fontSize || $appendColon || $asterisk)	new biz.form({#set ($i = 0)#if($id)#if($i==1),#end 		id:"#$id"#set($i=1)#end#if($isResize && $isResize!="false")#if($i==1),#end 		isResize:$isResize#set($i=1)#end#if($isBreak && $isBreak!="false")#if($i==1),#end 		isBreak:$isBreak#set($i=1)#end#if($inputWidth && $inputWidth!="100")#if($i==1),#end 		inputWidth:'$inputWidth'#set($i=1)#end#if($commonClass && $commonClass!="ui-corner-all")#if($i==1),#end 		commonClass:'$commonClass'#set($i=1)#end			#if($labelSize && $labelSize!="6")#if($i==1),#end 		labelSize:$labelSize#set($i=1)#end			#if($fontSize && $fontSize!="14")#if($i==1),#end 		fontSize:'$fontSize'#set($i=1)#end			#if($appendColon && $appendColon!="false")#if($i==1),#end 		appendColon:$appendColon#set($i=1)#end			#if($asterisk && $asterisk!="false")#if($i==1),#end 		asterisk:$asterisk#set($i=1)#end	});#end