	new biz.file({#set ($i = 0)#if($id)#if($i==1),#end 		id:"#$id"#set($i=1)#end#if($inputText && $inputText!="")#if($i==1),#end 		inputText:"$inputText"#set($i=1)#end#if($accept && $accept!="")#if($i==1),#end 		accept:"$accept"#set($i=1)#end#if($filename && $filename!="")#if($i==1),#end 		filename:"$filename"#set($i=1)#end#if($denied && $denied!="")#if($i==1),#end 		denied:"$denied"#set($i=1)#end#if($wrongname && $wrongname!="")#if($i==1),#end 		wrongname:"$wrongname"#set($i=1)#end#if($buttonText)#if($i==1),#end 		buttonText:"$buttonText"#set($i=1)#end#if($required == "true")#if($i==1),#end		validation:{			required: true 		}#set($i=1)#end	});