	new biz.comboboxlist({#set ($i = 0)#if($id)#if($i==1),#end		id:"#$id"#set($i=1)  #end #if($url)#if($i==1),#end		url:"$url"#set($i=1)  #end  #if($data)#if($i==1),#end		data:$data#set($i=1)  #end   #if($columns)#if($i==1),#end		columns:$columns#set($i=1) #end#if($maxchecked)#if($i==1),#end    		maxchecked:$maxchecked#set($i=1) #end#if($checkbox && $checkbox!="true")#if($i==1),#end    		checkbox:$checkbox#set($i=1) #end#if($valuedway && $valuedway!="click")#if($i==1),#end    		valuedway:"$valuedway"#set($i=1) #end#if($width)#if($i==1),#end    		width:$width#set($i=1)#end#if($height)#if($i==1),#end    		height:$height#set($i=1) #end#if($selected)#if($i==1),#end   		selected:"$selected"#set($i=1)#elseif($value)#if($i==1),#end   		selected:"$value"#set($i=1)#end#if($required == "true")#if($i==1),#end		validation:{			required: true 		}#set($i=1)#end		});