		<table class="table">
#set($index=1)#set($colspan = $cols*2 - ($formInfo.fieldsLength*2 % ($cols*2)) + 1)
#if(($formInfo.fieldsLength*2 % ($cols*2)) == 0)#set($colspan = 0)#end
#foreach( $field in $formInfo.getFields())
#if( $index % $cols == 1)
			<tr>
#end
				<td class="inputLabelTd">$formInfo.getFieldDisplayName($field)${colon}</td>
				<td class="inputTd"#if($index == $formInfo.fieldsLength) colspan="${colspan}"#end>
					$formInfo.getFieldTagHtmlNoValueAttr($field)
				</td>

#if( $index % $cols == 0 || $index == $formInfo.fieldsLength)
			</tr>
#end
#set( $index=$index+1)
#end
		</table>