#set($entityMap = ${formInfo.getFieldsAsGroup()})
#set($entityMapKeys = ${formInfo.getRefEntities()})
#foreach($entity in $entityMapKeys)
			<fieldset id="${entity.getName()}Tab">
                <legend>${formInfo.getEntityTitle($entity)}</legend>
				<table class="table infieldset">
#set($tabFields = ${entityMap.get($entity)})
#set($index=1)#set($colspan = $cols*2 - (${tabFields.size()}*2 % ($cols*2)) + 1)
#if((${tabFields.size()}*2 % ($cols*2)) == 0)#set($colspan = 0)#end
#foreach( $field in $tabFields)
#if( $index % $cols == 1)
			<tr>
#end
				<td class="inputLabelTd">$formInfo.getFieldDisplayName($field)${colon}</td>
				<td class="inputTd"#if($index == ${tabFields.size()}) colspan="${colspan}"#end>
					$formInfo.getFieldTagHtmlNoValueAttr($field)
				</td>

#if( $index % $cols == 0 || $index == ${tabFields.size()})
			</tr>
#end
#set( $index=$index+1)
#end					
					
				</table>		
			</fieldset>
#end