<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyou.justoask.mainask.dao.mybatis.ProblemDao">
  <!--查询一条记录-->
  <select id="findById" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM HS_PROBLEM WHERE PROBLEM_ID=#{problemId}</select>
  <!--查询所有记录-->
  <select id="findAll" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM HS_PROBLEM</select>
  <!--按条件查询-->
  <select id="search" parameterType="map" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM HS_PROBLEM
    <where/>
  </select>
  <!--分页查询-->
  <select id="searchByPage" parameterType="map" resultMap="ProblemMap">SELECT <include refid="columns"/> FROM HS_PROBLEM
    <where/>
  </select>
  <!--插入记录-->
  <insert id="save" parameterType="Problem">INSERT INTO HS_PROBLEM (<include refid="columns"/>) VALUES (#{problemId},#{problem},#{answer})</insert>
  <!--删除记录-->
  <delete id="delete">DELETE FROM HS_PROBLEM WHERE PROBLEM_ID=#{problemId}</delete>
  <!--修改记录-->
  <update id="update" parameterType="Problem">UPDATE HS_PROBLEM
    <set>
      <if test="problem != null">PROBLEM = #{problem}, </if>
      <if test="answer != null">ANSWER = #{answer}, </if>
    </set>WHERE PROBLEM_ID=#{problemId}
  </update>
  <!--结果映射-->
  <resultMap type="Problem" id="ProblemMap">
    <result column="PROBLEM_ID" property="problemId"/>
    <result column="PROBLEM" property="problem"/>
    <result column="ANSWER" property="answer"/>
  </resultMap>
  <!--查询字段-->
  <sql id="columns">PROBLEM_ID,PROBLEM,ANSWER</sql>
</mapper>
