package ${PACKAGE_NAME};

#foreach( $type in $CLASS_IMPORT_TYPES)
import $type;
#end
import java.io.Serializable;

import org.apache.commons.lang3.builder.ToStringBuilder;

import core.domain.DomainBase;
import core.mybatis.MyBatisDomain;

@MyBatisDomain
public class ${CLASS_FIRST_UPPER_NAME} extends DomainBase implements Serializable{

	private static final long serialVersionUID = 1L;

## Fields    
#set($count=0)#foreach( $fieldName in $PO_FIELD_NAMES )
	private $PO_FIELD_ROBASE_SIMPLE_TYPES.get($count) $fieldName;
#set($count=$count+1)#end
## QueryOnlyFields
#set($count1=0)#foreach( $fieldName in $PO_QUERY_EXT_FIELD_NAMES )
	private $PO_QUERY_EXT_FIELD_TYPES.get($count1) $fieldName; 
#set($count1=$count1+1)#end
## DetailsEntityFields
#set($count1=0)#foreach( $fieldName in $PO_DETAILS_FOR_MASTER_FIRST_UPPER )
	private List<$fieldName> $PO_DETAILS_FOR_MASTER_FIRST_LOWER.get($count1)s;
#set($count1=$count1+1)#end

## default constructor
	public ${CLASS_FIRST_UPPER_NAME}() {
		super();
	}

## Property accessors
#set($index=0)#foreach( $fieldName in $PO_FIELD_NAMES )
##if($PO_FIELD_NOTBLANKS.get($index))
##	@NotBlank
###end
## Special Property
#if($PO_FIELD_ROBASE_SIMPLE_TYPES.get($index) == "Date")
	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+08:00")
#end
	public $PO_FIELD_ROBASE_SIMPLE_TYPES.get($index) get$VmVarInfo.getJavaBeanFieldName($fieldName)() {
		return this.$fieldName;
	}

	public void set$VmVarInfo.getJavaBeanFieldName($fieldName)($PO_FIELD_ROBASE_SIMPLE_TYPES.get($index) $PO_FIELD_NAMES.get($index)) {
		this.$fieldName = $fieldName;
	}
#set($index=$index+1)#end

## QueryOnlyProperty accessors
#set($index1=0)#foreach( $fieldName in $PO_QUERY_EXT_FIELD_NAMES )
	public $PO_QUERY_EXT_FIELD_TYPES.get($index1) get$VmVarInfo.getJavaBeanFieldName($fieldName)() {
		return this.$fieldName;
	}

	public void set$VmVarInfo.getJavaBeanFieldName($fieldName)($PO_QUERY_EXT_FIELD_TYPES.get($index1) $PO_QUERY_EXT_FIELD_NAMES.get($index1)) {
		this.$fieldName = $fieldName;
	}
#set($index1=$index1+1)#end
## DetailsEntityProperty accessors
#set($index1=0)#foreach( $fieldName in $PO_DETAILS_FOR_MASTER_FIRST_LOWER )
	public List<$PO_DETAILS_FOR_MASTER_FIRST_UPPER.get($index1)> get$PO_DETAILS_FOR_MASTER_FIRST_UPPER.get($index1)s() {
		return this.${fieldName}s;
	}

	public void set$PO_DETAILS_FOR_MASTER_FIRST_UPPER.get($index1)s(List<$PO_DETAILS_FOR_MASTER_FIRST_UPPER.get($index1)> ${fieldName}s) {
		this.${fieldName}s = ${fieldName}s;
	}
#set($index1=$index1+1)#end

	@Override
	public String toString() {
		return ToStringBuilder.reflectionToString(this);
	}
}