package ${PACKAGE_NAME};

import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

#foreach( $type in $CLASS_IMPORT_TYPES)
import $type;
#end

import core.utils.ComUtil;

@Service
@Transactional
public class ${CLASS_FIRST_UPPER_NAME} {

#if(${ISDETAIL})
	@Autowired
	private ${DETAIL_DAO_FIRST_UPPER_NAME} ${DETAIL_DAO_FIRST_LOWER_NAME};
	
	/**
	 * 按条件分页查询记录
	 * @param searchParams 条件
	 * @return
	 */
	public List<${DETAIL_PO_FIRST_UPPER_NAME}> searchByPage(Map<String,Object> searchParams) {
		return (List<${DETAIL_PO_FIRST_UPPER_NAME}>) ${DAO_FIRST_LOWER_NAME}.searchByPage(searchParams);
	}
	
	/**
	 * 通过Id获取一条记录
	 * @param id 主键
	 * @return
	 */
	public ${DETAIL_PO_FIRST_UPPER_NAME} findById(String id) {
		return ${DAO_FIRST_LOWER_NAME}.findById(id);
	}
	
	/**
	 * 保存一条记录
	 * @param ${DETAIL_PO_FIRST_LOWER_NAME}
	 */
	public void save(${DETAIL_PO_FIRST_UPPER_NAME} ${DETAIL_PO_FIRST_LOWER_NAME}) {
		${PO_FIRST_LOWER_NAME}.set${DETAIL_PO_PK_FIRST_UPPER_NAME}(ComUtil.getId());
		${DAO_FIRST_LOWER_NAME}.save(${PO_FIRST_LOWER_NAME});
	}
	
	/**
	 * 通过Id删除一条记录
	 * @param id
	 */
	public void delete(String id) {
		${DAO_FIRST_LOWER_NAME}.delete(id);
	}
	
	/**
	 * 修改记录
	 * @param ${DETAIL_PO_FIRST_LOWER_NAME}
	 */
	public void update(${DETAIL_PO_FIRST_UPPER_NAME} ${PO_FIRST_LOWER_NAME}) {
		${DAO_FIRST_LOWER_NAME}.update(${PO_FIRST_LOWER_NAME});
	}
	
	/**
	 * 按外键ID删除记录
	 * @param orderId 主表ID
	 * @return
	 */
	public void deleteByForeignKeyId(String orderId){
		${DETAIL_DAO_FIRST_LOWER_NAME}.deleteByForeignKeyId(orderId);
	}
#else
	@Autowired
	private ${DAO_FIRST_UPPER_NAME} ${DAO_FIRST_LOWER_NAME};
	
	@Autowired
	private ${DETAIL_DAO_FIRST_UPPER_NAME} ${DETAIL_DAO_FIRST_LOWER_NAME};
	
	/**
	 * 按条件分页查询记录
	 * @param searchParams 条件
	 * @return
	 */
	public List<${PO_FIRST_UPPER_NAME}> searchByPage(Map<String,Object> searchParams) {
		return (List<${PO_FIRST_UPPER_NAME}>) ${DAO_FIRST_LOWER_NAME}.searchByPage(searchParams);
	}
	
	/**
	 * 通过Id获取一条记录
	 * @param id 主键
	 * @return
	 */
	public ${PO_FIRST_UPPER_NAME} findById(String id) {
		return ${DAO_FIRST_LOWER_NAME}.findById(id);
	}
	
	/**
	 * 保存一条记录
	 * @param ${PO_FIRST_LOWER_NAME}
	 */
	public void save(${PO_FIRST_UPPER_NAME} ${PO_FIRST_LOWER_NAME}) {
		${PO_FIRST_LOWER_NAME}.set${PO_PK_FIRST_UPPER_NAME}(ComUtil.getId());
		${DAO_FIRST_LOWER_NAME}.save(${PO_FIRST_LOWER_NAME});
	}
	
	/**
	 * 通过Id删除一条记录
	 * @param id
	 */
	public void delete(String id) {
		${DETAIL_DAO_FIRST_LOWER_NAME}.deleteByForeignKeyId(id);
		${DAO_FIRST_LOWER_NAME}.delete(id);
	}
	
	/**
	 * 修改记录
	 * @param ${PO_FIRST_LOWER_NAME}
	 */
	public void update(${PO_FIRST_UPPER_NAME} ${PO_FIRST_LOWER_NAME}) {
		${DAO_FIRST_LOWER_NAME}.update(${PO_FIRST_LOWER_NAME});
	}
#end
}
