<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/WEB-INF/public/include/default.jsp" %>

#set($entity = $viewInfo.getlowerFirstEntityName())
#set($dot="$")
#set($colon = "：")
<html>
<head>
	<title>$viewInfo.showTitle</title>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#cancel").bind("click",function(){
				history.back();
			});
		});
	</script>
</head>

<body>
	<div class="easyui-panel" title="$viewInfo.showTitle" align="center">
		<table cellpadding="5">
#foreach( $field in $viewInfo.getNotPkFields())
#set($fieldName=${viewInfo.getFieldName($field)})
			<tr>
				<td>$viewInfo.getFieldDisplayName($field)${colon}</td>
				<td><input name="${fieldName}" value="$dot{${entity}.${fieldName}}" class="easyui-validatebox textbox" disabled="disabled" /></td>
			</tr>
#end
        	<tr>
				<td colspan="2" align="center">
					<a id="cancel" href="javascript:void(0)" class="easyui-linkbutton">&nbsp;&nbsp;返回&nbsp;&nbsp;</a>
				</td>
			</tr>
        </table>
	</div>
</body>
</html>
