#if(($isCascade=="true") || $parent || $data || $event || $url || $timeout || $ajaxOptions)	new biz.select({#set ($i = 0)#if($id)#if($i==1),#end 		id:"#$id"#set($i=1)#end#if($isCascade=="true")#if($i==1),#end 		isCascade:$isCascade#set($i=1)#end#if($parent)#if($i==1),#end 		parent:"#$parent"#set($i=1)#end#if($data)#if($i==1),#end 		data:$data#set($i=1)#end#if($event)#if($i==1),#end 		event:"$event"#set($i=1)#end#if($url)#if($i==1),#end 		url:"$url"#set($i=1)#end#if($ajaxOptions)#if($i==1),#end 		ajaxOptions:$ajaxOptions#set($i=1)#end#if($value)#if($i==1),#end 		value:"$value"#set($i=1)#end#if($timeout)#if($i==1),#end 		timeout:$timeout#set($i=1)#end#if($required == "true")#if($i==1),#end		validation:{			required: true 		}#set($i=1)#end	});#end