<%@ page language="java" pageEncoding="${viewInfo.pageEncoding}" contentType="text/html; charset=${viewInfo.pageEncoding}" %>
<%@ include file="/pages/inc/taglibs.jsp" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>$viewInfo.listTitle</title>
<%@ include file="/pages/inc/header.jsp" %>
</head>
#set($dot="$")#set($cols = 2)#set($colon = "：")
<body>
<%@ include file="/pages/inc/common.jsp" %>
<div id="container" class="main">
    <div class="barTitle">
        <div class="content">
			<a href="javascript:;" onfocus="this.blur();"></a> 
			<span>$viewInfo.listTitle</span>
			<a id="displayHidden" class="displayHidden" onclick="this.blur();" href= "javascript:;"><fmt:message key='query.hideCondition'/></a></div>
	</div>
	<hr class="barTitleHr"></hr>
	<div id="conditions" class="ui-table ui-widget ui-corner-all ui-margin" style="display:block">
		<form id="${viewInfo.formId}"  ${viewInfo.getFormEncType()}>
		<div class="equal"> 
				<div class="row"> 
#foreach( $$queryField in $viewInfo.getQueryFields())
		            <div class="cell">
						<div class="labelcell">${viewInfo.getQueryFieldDisplayName($queryField)}${colon}</div>
						<div class="valuecell">$viewInfo.getFieldTagHtml($queryField)</div>
					</div>
#end
	                <div class="querycell">
						<button id="query_button" type="button" onclick="query();">${viewInfo.getSearchTitle()}</button>
                    </div>
				</div>
			</div>
        </form>
	</div>
   <div class="ui-table ui-widget ui-corner-all ui-margin">
        	   <div class="nav">
        		   <button id="addBtn" onclick="add();">${viewInfo.getAddTitle()}</button>
        		   <button id="editBtn" onclick="edit();">${viewInfo.getEditTitle()}</button>
        		   <button id="viewBtn" onclick="view();">${viewInfo.getViewTitle()}</button>
        		   <button id="deleteBtn" onclick="batchDelete();">${viewInfo.getDeleteTitle()}</button>
#if(${viewInfo.hasExport()})
        		   <button id="exportBtn" onclick="excelExport();">${viewInfo.getExportTitle()}</button>
#end
        	   </div>
        	   <table id="${viewInfo.getEntityName(true)}Table"></table>
        		<div id="${viewInfo.getEntityName(true)}Pager"></div>
	</div>
</div>
<!-- 引入尾文件-->
<%@ include file="/pages/inc/footer.jsp" %>
</body>
</html>
<script type="text/javascript" charset="UTF-8">
	#set($dot = "$")
	new biz.button({id:"#query_button", icons: {primary:"ui-icon-search"}});
	new biz.button({id:"#addBtn", icons: {primary:'ui-icon-plus'}});
	new biz.button({id:"#editBtn", icons: {primary:'ui-icon-pencil'}});
	new biz.button({id:"#viewBtn", icons: {primary:'ui-icon-document'}});
	new biz.button({id:"#deleteBtn", icons: {primary:'ui-icon-trash'}});
#if(${viewInfo.hasExport()})
	new biz.button({id:"#exportBtn", icons: {primary:'ui-icon-disk'}});
#end
	//显示或隐藏查询条件
    $(document).ready(function(){
		$("#displayHidden").click(function(){
		       var conditionsDiv = document.getElementById("conditions");
		       var displayHidden = document.getElementById("displayHidden");
		       if(conditionsDiv.style["display"]=="block"){
		          conditionsDiv.style["display"]="none";
		          displayHidden.innerHTML="<fmt:message key='query.ExpandCondition'/>";
		       }else if(conditionsDiv.style["display"]=="none"){
		          conditionsDiv.style["display"]="block";
		          displayHidden.innerHTML="<fmt:message key='query.hideCondition'/>";
		       }
		});
	});
	
	var ${viewInfo.getlowerFirstEntityName()}Grid;
    window.onload = function(){
    	${viewInfo.getlowerFirstEntityName()}Grid = new biz.grid({
    		id : "#${viewInfo.getlowerFirstEntityName()}Table",
    		url : "${viewInfo.getlowerFirstEntityName()}/list${viewInfo.getEntityName(false)}",
			page : "<biz:out value='${page.pageNo}' default='1'/>",
    		rowNum : "<biz:out value='${page.pageSize}' default='15'/>",
			width : "auto",
			multiselect : ${viewInfo.multiSelect()},
    		pager : "#${viewInfo.getEntityName(true)}Pager",
    		prmNames : {page:"pageNo",rows:"pageSize",sort:"orderFields",order:"order"},
    		sortname : "${viewInfo.orderFields}",
    		sortorder : "${viewInfo.orders}",
    		colModel : [
			   {name : "$viewInfo.pkName",hidden:true,key:true}, 
#set($index = 1)
#foreach($resutlField in ${viewInfo.getResultFields()})
				{name : "$resutlField.fieldName"#if($index == 1),formatter:"showlink",formatoptions:{baseLinkUrl:"${viewInfo.getEntityName(true)}/show"}#end,label:"${viewInfo.getResultFieldDisplayName($resutlField)}"}#if($index < ${viewInfo.resultFieldsLength}),#end

#set($index = $index + 1)
#end
    		],
#if(${viewInfo.hasExport()})
    		exportParams:{//Excel导出参数配置
        		url : "${viewInfo.getEntityName(true)}/exportExcel",
                customHeader : {
                	title : "${viewInfo.listTitle}"
                },
                queryColumns :[
#set($index = 1)
#foreach( $queryField in $viewInfo.getQueryFields())
					{name : "${queryField.getFieldName()}", label : "${queryField.getDisplayName()}"}#if($index < ${viewInfo.queryFieldsLength}),#end

#set($index = $index + 1)
#end
                ],
                columns : [//导出哪些列，可以自己酌情增删
#set($index = 1)
#foreach($resutlField in ${viewInfo.getResultFields()})
					{name : "$resutlField.fieldName",label:"${viewInfo.getResultFieldDisplayName($resutlField)}"}#if($index < ${viewInfo.resultFieldsLength}),#end

#set($index = $index + 1)
#end
                ]
            },
#end
    		serializeGridData:function(postData){//添加查询条件值
    			var obj = biz.utils.serializeObject("#${viewInfo.formId}");//示例中心搜索"biz.utils方法详解"查看方法说明
    			${dot}.extend(true,obj,postData);//合并查询条件值与grid的默认传递参数
    			return obj;
    		}
    	});
    }
	
	function query(){
		${viewInfo.getEntityName(true)}Grid.setGridParam({"page":"1"});
		${viewInfo.getEntityName(true)}Grid.trigger('reloadGrid');
	}
	
#if(${viewInfo.hasExport()})	
	//导出Excel
	function excelExport(){
		${viewInfo.getEntityName(true)}Grid.excelExport(biz.utils.serializeObject("#${viewInfo.formId}"));
	}
	
#end	
	function add(){
		window.location="${viewInfo.getEntityName(true)}/add";
	}
	
	function edit(rowid){
		rowid = ${viewInfo.getEntityName(true)}Grid.getGridParam("selarrrow");
		if(rowid == null || rowid.length == 0){
			showInfo("<fmt:message key='grid.edit.chooseColAlert'/>",3000);
			return ;
		}else if(rowid.length > 1){
			showInfo("<fmt:message key='grid.edit.onlyOne'/>",3000);
			return ;
		}
		var id = ${viewInfo.getEntityName(true)}Grid.getCell(rowid[0],"$viewInfo.pkName");
		window.location="${viewInfo.getEntityName(true)}/edit/" + id;
	}
	
	function view(){
		var rowid = ${viewInfo.getEntityName(true)}Grid.getGridParam("selarrrow");
		if(rowid == null || rowid.length == 0){
			showInfo("<fmt:message key='grid.view.chooseColAlert'/>",3000);
			return ;
		}else if(rowid.length > 1){
			showInfo("<fmt:message key='grid.view.onlyOne'/>",3000);
			return ;
		}
		var id = ${viewInfo.getEntityName(true)}Grid.getCell(rowid[0],"$viewInfo.pkName");
		window.location="${viewInfo.getEntityName(true)}/show?id=" + id;
	}
	
	function batchDelete(rowid){
		var rowid = ${viewInfo.getEntityName(true)}Grid.getGridParam('selarrrow');
		if(rowid == null || rowid.length == 0){
			showInfo("<fmt:message key='grid.delete.chooseColAlert'/>",3000);
			return ;
		}
		new biz.alert({type:"confirm",message:I18N.msg_del_confirm,
			title:I18N.promp,callback:function(result){
	    		if (!result) {
	    			return;
	    		}
				var ids="";
				for(var i=0; i < rowid.length;i++){
					var id = ${viewInfo.getEntityName(true)}Grid.getCell(rowid[i],'$viewInfo.pkName');
					if(i>0){
						ids +=',';
					}
					ids += id;
				}
				window.location="${viewInfo.getEntityName(true)}/delete/" + ids;
			}
		});
	}
	
#foreach( $queryField in $viewInfo.getQueryFields())
#set($fieldJS = $viewInfo.getFieldTagScript($queryField))
#if($fieldJS != "")
${fieldJS}
#end
#end
</script>