	new biz.doubleselect({#set ($i = 0)#if($id)#if($i==1),#end		id:"#$id"#set($i=1) #end#if($width)#if($i==1),#end		width:$width#set($i=1) #end#if($height)#if($i==1),#end		height:$height#set($i=1) #end#if($size)#if($i==1),#end		size:$size#set($i=1) #end#if($isTreeStyle)#if($i==1),#end		isTreeStyle:$isTreeStyle#set($i=1) #end#if($isShowCode)#if($i==1),#end		isShowCode:$isShowCode#set($i=1) #end#if($ctrlStyle)#if($i==1),#end  		ctrlStyle:"$ctrlStyle"#set($i=1) #end#if($data)#if($i==1),#end         		data:$data#set($i=1) #end#if($url)#if($i==1),#end         		url:"$url"#set($i=1) #end#if($ajaxOptions)#if($i==1),#end         		ajaxOptions:$ajaxOptions#set($i=1) #end	});