	new biz.button({id:"#submit_button", icons: {primary:'ui-icon-disk'}});	new biz.button({id:"#reset_button", icons: {primary:'ui-icon-refresh'}});	new biz.button({id:"#back_button", icons: {primary:'ui-icon-arrowthick-1-w'}});#if(${viewInfo.showType} == "tab")	${dot}("#$viewInfo.getlowerFirstEntityName()Tabs").tabs({});#end	function save(button){		form = button.form;		if(!biz.validate("valid",form)){			showWarn("<fmt:message key='validation.object'/>",3000);			return;		}		form.submit();	}	#foreach( $queryField in $viewInfo.getFields())#set($fieldJS = $viewInfo.getFieldTagScript($queryField))#if($fieldJS != "")${fieldJS}#end#end